# macOS Finder settings files
.DS_Store

# IntelliJ IDE settings folder, for example for WebStorm
.idea/

# Error log file from the Yarn package manager
yarn-error.log

# Entries from creating an Expo app
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/